# 3-Exploring the Data
In this notebook we start exploring the database downloaded and created by the previous notebooks.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tqdm.notebook import tqdm
from sqlapi import VedDb

Start by creating the `db` variable of type `VedDb`. This is our API to the database. All the queries and modifications will happen through this object.

In [2]:
db = VedDb()

In [6]:
vehicles = db.query('select * from vehicle')

In [9]:
vehicles.groupby(by='vehicle_type').count()

,vehicle_id,vehicle_class,engine,transmission,drive_wheels,weight
vehicle_type,,,,,,
EV,3,3,3,0,3,3
HEV,92,1,92,3,0,92
ICE,264,4,264,79,0,248
PHEV,24,24,24,12,24,24

In [4]:
type(df.loc[df.vehicle_id == 2, 'transmission'].values[0])

float

In [5]:
df.head()

,vehicle_id,vehicle_type,vehicle_class,engine,transmission,drive_wheels,weight
0,2,ICE,Car,4-FI 2.0L T/C,NaN,NaN,3500.0
1,5,HEV,Car,4-GAS/ELECTRIC 2.0L,NaN,NaN,3500.0
2,7,ICE,SUV,6-FI 3.6L,AUTOMATIC,NaN,4500.0
3,8,ICE,Car,4-FI 1.5L,5-SP MANUAL,NaN,2500.0
4,9,PHEV,Car,4-GAS/ELECTRIC 1.4L,NaN,FWD,4000.0

In [ ]:
db.query("select * from vehicle").head(20)

In [ ]:
db.head("select * from signal where vehicle_id = 10", rows=20)

In [ ]:
db.tail("select * from signal where vehicle_id = 10", rows=20)