# 3-Exploring the Data
In this notebook we start exploring the database downloaded and created by the previous notebooks.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tqdm.notebook import tqdm
from sqlapi import VedDb

Start by creating the `db` variable of type `VedDb`. This is our API to the database. All the queries and modifications will happen through this object.

In [2]:
db = VedDb()

The `VedDb` class contains a number of convenience functions to help you explore the database through Pandas DataFrames. The `query` function executes an arbitrary SQL query against the database and stores the result on a Pandas DataFrame for further inspection or analysis.

The following command reads all the vehicles into a DataFrame:

In [3]:
vehicles = db.query('select * from vehicle')

We can now run a Pandas query on that DataFrame:

In [4]:
vehicles.groupby(by='vehicle_type').count()

,vehicle_id,vehicle_class,engine,transmission,drive_wheels,weight
vehicle_type,,,,,,
EV,3,3,3,0,3,3
HEV,92,1,92,3,0,92
ICE,264,4,264,79,0,248
PHEV,24,24,24,12,24,24

In [6]:
db.query_df("select * from vehicle").head(20)

,vehicle_id,vehicle_type,vehicle_class,engine,transmission,drive_wheels,weight
0,2,ICE,Car,4-FI 2.0L T/C,NaN,NaN,3500.0
1,5,HEV,Car,4-GAS/ELECTRIC 2.0L,NaN,NaN,3500.0
2,7,ICE,SUV,6-FI 3.6L,AUTOMATIC,NaN,4500.0
3,8,ICE,Car,4-FI 1.5L,5-SP MANUAL,NaN,2500.0
4,9,PHEV,Car,4-GAS/ELECTRIC 1.4L,NaN,FWD,4000.0
5,10,EV,Car,ELECTRIC,NaN,FWD,3500.0
6,11,PHEV,Car,4-GAS/ELECTRIC 2.0L,CVT,FWD,4000.0
7,12,ICE,Car,4-FI 1.8L,NaN,NaN,2500.0
8,108,ICE,NaN,8-4V/FI 6.0L,6-SP AUTOMATIC,NaN,6000.0
9,110,ICE,NaN,6-FI 3.6L,NaN,NaN,4500.0
10,115,HEV,NaN,4-GAS/ELECTRIC 2.5L,NaN,NaN,3500.0
11,116,ICE,NaN,10-FI 6.8L,NaN,NaN,NaN
12,119,ICE,NaN,8-DSL 6.7L T/C,NaN,NaN,6500.0
13,120,ICE,NaN,8-4V/FI 6.0L,NaN,NaN,6000.0
14,123,ICE,NaN,4-FI 1.8L,5-SP AUTOMATIC,NaN,2500.0
15,124,HEV,NaN,4-GAS/ELECTRIC 1.8L,NaN,NaN,3000.0
16,125,HEV,NaN,4-GAS/ELECTRIC 2.4L,NaN,NaN,3500.0
17,126,ICE,NaN,8-FI 4.7L,NaN,NaN,4000.0
18,128,ICE,NaN,6-FI 3.4L,NaN,NaN,3500.0
19,129,ICE,NaN,4-FI 2.4L,NaN,NaN,4000.0

In [7]:
db.head("select * from signal where vehicle_id = 10", rows=20)

,signal_id,day_num,vehicle_id,trip_id,time_stamp,latitude,longitude,speed,maf,rpm,...,ac_power_kw,ac_power_w,heater_power_w,hv_bat_current,hv_bat_soc,hv_bat_volt,st_ftb_1,st_ftb_2,lt_ftb_1,lt_ftb_2
0,18254768,1.719774,10,1558,0,42.277066,-83.763404,53.590000,NaN,NaN,...,NaN,0.0,2250.0,-21.5,96.341469,386.0,NaN,NaN,NaN,NaN
1,18254769,1.719774,10,1558,200,42.277066,-83.763404,51.980000,NaN,NaN,...,NaN,0.0,2250.0,-21.5,96.341469,386.0,NaN,NaN,NaN,NaN
2,18254770,1.719774,10,1558,1200,42.277066,-83.763404,50.369999,NaN,NaN,...,NaN,0.0,2250.0,-21.5,96.341469,386.0,NaN,NaN,NaN,NaN
3,18254771,1.719774,10,1558,1500,42.277066,-83.763404,50.369999,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
4,18254772,1.719774,10,1558,2300,42.277066,-83.763404,49.799999,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
5,18254773,1.719774,10,1558,3300,42.277066,-83.763404,51.570000,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
6,18254774,1.719774,10,1558,4400,42.277066,-83.763404,52.939999,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
7,18254775,1.719774,10,1558,5000,42.277254,-83.762512,52.939999,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
8,18254776,1.719774,10,1558,5400,42.277254,-83.762512,54.299999,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
9,18254777,1.719774,10,1558,6000,42.277254,-83.762512,54.299999,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
10,18254778,1.719774,10,1558,6400,42.277254,-83.762512,54.629997,NaN,NaN,...,NaN,0.0,2250.0,23.5,96.341469,390.5,NaN,NaN,NaN,NaN
11,18254779,1.719774,10,1558,6500,42.277254,-83.762512,54.629997,NaN,NaN,...,NaN,0.0,2250.0,-31.0,96.341469,384.5,NaN,NaN,NaN,NaN
12,18254780,1.719774,10,1558,7500,42.277254,-83.762512,54.489998,NaN,NaN,...,NaN,0.0,2250.0,-31.0,96.341469,384.5,NaN,NaN,NaN,NaN
13,18254781,1.719774,10,1558,8500,42.277254,-83.762512,54.209999,NaN,NaN,...,NaN,0.0,2250.0,-31.0,96.341469,384.5,NaN,NaN,NaN,NaN
14,18254782,1.719774,10,1558,9600,42.277254,-83.762512,53.410000,NaN,NaN,...,NaN,0.0,2250.0,-31.0,96.341469,384.5,NaN,NaN,NaN,NaN
15,18254783,1.719774,10,1558,10100,42.277363,-83.761607,53.410000,NaN,NaN,...,NaN,0.0,2250.0,-31.0,96.341469,384.5,NaN,NaN,NaN,NaN
16,18254784,1.719774,10,1558,10600,42.277363,-83.761607,52.329998,NaN,NaN,...,NaN,0.0,2250.0,-31.0,96.341469,384.5,NaN,NaN,NaN,NaN
17,18254785,1.719774,10,1558,11600,42.277363,-83.761607,52.329998,NaN,NaN,...,NaN,0.0,2250.0,-1.5,96.341469,387.0,NaN,NaN,NaN,NaN
18,18254786,1.719774,10,1558,11700,42.277363,-83.761607,51.820000,NaN,NaN,...,NaN,0.0,2250.0,-1.5,96.341469,387.0,NaN,NaN,NaN,NaN
19,18254787,1.719774,10,1558,12700,42.277363,-83.761607,51.059998,NaN,NaN,...,NaN,0.0,2250.0,-1.5,96.341469,387.0,NaN,NaN,NaN,NaN

In [8]:
db.tail("select * from signal where vehicle_id = 10", rows=20)

,signal_id,day_num,vehicle_id,trip_id,time_stamp,latitude,longitude,speed,maf,rpm,...,ac_power_kw,ac_power_w,heater_power_w,hv_bat_current,hv_bat_soc,hv_bat_volt,st_ftb_1,st_ftb_2,lt_ftb_1,lt_ftb_2
167237,1734624,374.499878,10,3271,412000,42.302582,-83.705806,63.289997,NaN,NaN,...,NaN,400.0,500.0,9.5,96.341469,381.5,NaN,NaN,NaN,NaN
167238,1734625,374.499878,10,3271,412200,42.302582,-83.705806,63.289997,NaN,NaN,...,NaN,400.0,500.0,39.0,96.341469,381.5,NaN,NaN,NaN,NaN
167239,1734626,374.499878,10,3271,413000,42.302582,-83.705806,59.759998,NaN,NaN,...,NaN,400.0,500.0,39.0,96.341469,381.5,NaN,NaN,NaN,NaN
167240,1734627,374.499878,10,3271,414000,42.302582,-83.705806,56.160000,NaN,NaN,...,NaN,400.0,500.0,39.0,96.341469,381.5,NaN,NaN,NaN,NaN
167241,1734628,374.499878,10,3271,414300,42.302582,-83.705806,56.160000,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,381.5,NaN,NaN,NaN,NaN
167242,1734629,374.499878,10,3271,414900,42.302604,-83.705229,56.160000,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,381.5,NaN,NaN,NaN,NaN
167243,1734630,374.499878,10,3271,415100,42.302604,-83.705229,52.660000,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,381.5,NaN,NaN,NaN,NaN
167244,1734631,374.499878,10,3271,415200,42.302604,-83.705229,52.660000,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,390.5,NaN,NaN,NaN,NaN
167245,1734632,374.499878,10,3271,415300,42.302604,-83.705229,52.660000,NaN,NaN,...,NaN,400.0,500.0,39.0,96.341469,390.5,NaN,NaN,NaN,NaN
167246,1734633,374.499878,10,3271,416100,42.302604,-83.705229,46.399998,NaN,NaN,...,NaN,400.0,500.0,39.0,96.341469,390.5,NaN,NaN,NaN,NaN
167247,1734634,374.499878,10,3271,416400,42.302604,-83.705229,46.399998,NaN,NaN,...,NaN,400.0,500.0,37.5,96.341469,390.5,NaN,NaN,NaN,NaN
167248,1734635,374.499878,10,3271,417200,42.302604,-83.705229,37.809998,NaN,NaN,...,NaN,400.0,500.0,37.5,96.341469,390.5,NaN,NaN,NaN,NaN
167249,1734636,374.499878,10,3271,417400,42.302604,-83.705229,37.809998,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,390.5,NaN,NaN,NaN,NaN
167250,1734637,374.499878,10,3271,418000,42.302562,-83.704803,37.809998,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,390.5,NaN,NaN,NaN,NaN
167251,1734638,374.499878,10,3271,418200,42.302562,-83.704803,31.719999,NaN,NaN,...,NaN,400.0,500.0,38.5,96.341469,390.5,NaN,NaN,NaN,NaN
167252,1734639,374.499878,10,3271,418400,42.302562,-83.704803,31.719999,NaN,NaN,...,NaN,400.0,500.0,21.5,96.341469,390.5,NaN,NaN,NaN,NaN
167253,1734640,374.499878,10,3271,419200,42.302562,-83.704803,33.840000,NaN,NaN,...,NaN,400.0,500.0,21.5,96.341469,390.5,NaN,NaN,NaN,NaN
167254,1734641,374.499878,10,3271,419500,42.302562,-83.704803,33.840000,NaN,NaN,...,NaN,400.0,500.0,-73.0,96.341469,390.5,NaN,NaN,NaN,NaN
167255,1734642,374.499878,10,3271,420300,42.302562,-83.704803,40.040001,NaN,NaN,...,NaN,400.0,500.0,-73.0,96.341469,379.5,NaN,NaN,NaN,NaN
167256,1734643,374.499878,10,3271,420500,42.302562,-83.704803,40.040001,NaN,NaN,...,NaN,400.0,500.0,-140.0,96.341469,379.5,NaN,NaN,NaN,NaN

In [20]:
sql = """
select count(0) from (
    select distinct vehicle_id, day_num
    from signal 
) as distinct_trips
"""
db.head(sql)

   count(0)
0     32548

In [22]:
db.head("select count(distinct trip_id) from signal")

   count(distinct trip_id)
0                     4153